@mixin font($fontSize: 1rem, $fontWeight: 300, $color: black) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

@mixin skeleton($width) {
  animation: skeleton-loading 1.2s linear infinite alternate;
  width: $width;
  border-radius: 10px;
  @keyframes skeleton-loading {
    0% {
      background-color: #242424;
    }

    100% {
      background-color: #4a4a4a;
    }
  }
}

@mixin gridColumn($columns: 2) {
  display: grid;
  grid-template-columns: repeat($columns, minmax(50px, 1fr));
  grid-gap: 1rem;

  @media (max-width: 880px) {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, minmax(50px, 1fr));
  }
}
