@import "../styles/variables";

.heading {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 30px 0;
}

.subHeading {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 500;
}

.subTitle {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
}

.inlineItems {
  display: flex;
  gap: 20px;
  align-items: center;
}

.wid40 {
  flex-basis: 40%;
}

.wid60 {
  flex-basis: 60%;
}

.wid50 {
  flex-basis: 50%;
}

.column2 {
  @include gridColumn(2);
}

.inlineImages {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  figure {
    flex-basis: 25%;
    flex-grow: 1;
    margin: 0;
  }
}

@media (max-width: 880px) {
  .inlineItems {
    flex-direction: column;
  }
}
